.filter-panel-container {
  height: max-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  margin: 20px 10px;
  border-radius: 8px;
  background-color: white;
}

.filter-panel-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.filter-panel-action {
  display: flex;
  margin: 10px;
  justify-content: flex-end;
}
.dropdown-filter {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 15%;
}

.filter-label {
  font-size: 12px;
  color: #6b7280;
}

.budget-filter-btn-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: min-content;
  width: 15%;
}

.filter-summary {
  display: flex;
  flex-direction: column;
}

.filter-summary-label {
  font-size: 12px;
  color: #6b7280;
}

.filter-summary-value {
  font-size: 16px;
}

@media (max-width: 500px) {
  .budget-filter-btn-container {
    width: 40%;
  }

  .dropdown-filter {
    width: 40%;
  }
}
